section.section
  .container
    .content.has-text-centered
      h1.title.is-spaced
        => icon_tag('fa-search')
        br
        | Add a charity to your portfolio

      p Do you have charities that you'd like to add to your portfolio?

section.section.embossed
  .tabs.is-centered
    ul
      li.is-active data-target="select-a-charity-from-catalog": a Choose a recommended charity
      li data-target="search-for-a-charity": a Search for a charity
  .container

    #search-for-a-charity.is-hidden
      .level
        .level-item
          #search-input
          = icon_tag('fa-search')
      #search-hits

    #select-a-charity-from-catalog
      p.has-text-centered Donational recommends these high impact charities. Add one to your portfolio!
      br

      - if @model.addable_organizations.empty?
        p.notification.is-warning You have all of our recommended charities in your portfolio!

      ul.columns.is-multiline.is-centered.book-list.content
        - @model.addable_organizations.each do |organization|
          li.column.is-4
            = render 'portfolios/book', organization: organization
            = form_with url: allocations_path, local: true, method: :post do |f|
              = f.fields :organization do |organization_form|
                = organization_form.hidden_field :ein, value: organization.ein
                = organization_form.hidden_field :name, value: organization.name
              = f.submit class:'button is-primary', value: 'Add to portfolio'

      p
        ' Want to donate to a charity that isn't listed here?
        a href='#search-for-a-charity' data-activate-tab='' data-target="search-for-a-charity"
          | Search for a charity

  = render 'search_result'

  javascript:
    var search = instantsearch({
      appId: 'EZ0RKGG8TJ',
      apiKey: 'c8a2dbd3c43a16b24b63d52875582b7e',
      indexName: 'Publication78',
      searchFunction(helper) {
        if (helper.state.query === '') {
          return;
        }
        helper.search();
      },
    });
    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-input',
        cssClasses: { input: 'input' },
        placeholder: 'Search',
        magnifier: false,
        reset: false
      })
    );
    search.addWidget(
      instantsearch.widgets.hits({
        container: '#search-hits',
        cssClasses: {
          item: ['column', 'is-4'],
          root: ['columns', 'is-multiline']
        },
        templates: {
          item: document.getElementById('hit_template').innerHTML,
          empty: "no results"//document.getElementById(id + 'no_results_template').innerHTML
        },
        transformData: function(result) {
          result.formattedEin = result.ein.toString().substring(0, 2) + '-' + result.ein.toString().substring(2, 9);
          if (result.npo.business_master) {
            result.state = result.npo.business_master.state;
            result.classifications = result.npo.business_master.classifications;
          } else if (result.npo.form990_n) {
            result.state = result.npo.form990_n.org_state;
            result.classifications = [];
          }
          return result;
        }
      })
    );
    search.start();
