<% question.preamble && question.preamble.each do |message| %>
  <h3><%= message %></h3>
<% end %>
<h3><%= question.title %></h3>
<div class='response'>
  <% if question.answer.present? %>
    <p><%= question.answer %></p>
  <% elsif question.allowed_responses %>
    todo
  <% else %>
    <input type="text" data-conversation-response/>
  <% end %>
</div>
