= form_with url: payment_methods_path, local: true, id: 'payment-form', method: :post do |f|
  = f.hidden_field :payment_method_id, id: 'payment-method-id'
  = render 'shared/stripe_card_form', form: f, payment_method_field: 'payment-method-id', text: 'Card Details'
