- if @view_model.show_plaid?
  .wizard-card-content
    .field
        = label_tag("payment_method", "Choose a payment method:", class: "label")
        = render 'shared/plaid_form', link_token: @view_model.link_token, token_field: 'payment_token', submission_field: 'payment-validated'
        = render 'shared/alternative_card_form'
  .wizard-card-footer
    a.icon.left-arrow data-action="wizard#previous" &larr; Previous
    a.icon.right-arrow.is-hidden id="payment-next" data-target='wizard.paymentOptionCard' href="#" Next &rarr;
    a.is-hidden.plaid-success-target data-action="wizard#next" id="payment-validated"
- elsif @view_model.show_acss?
  .wizard-card-content
    .field
        = render 'shared/acss_form', payment_method_field: 'payment-method-id', submission_field: 'payment-validated'
        = render 'shared/alternative_card_form'
  .wizard-card-footer
    a.icon.left-arrow data-action="wizard#previous" &larr; Previous
    a.icon.right-arrow.is-hidden id="payment-next" data-target='wizard.paymentOptionCard' href="#" Next &rarr;
    a.is-hidden.plaid-success-target data-action="wizard#next" id="payment-validated"
- else
  .wizard-card-content
    .control
      #card-element
      #card-errors role="alert"
    p.control.has-icons-left
      input.input.StripeElement id="cardholder_name" type="text" placeholder="Cardholder name"
      span.icon.is-left.is-small: i.fa.fa-user
  .wizard-card-footer
    a.icon.left-arrow data-action="wizard#previous" &larr; Previous
    a.icon.right-arrow id="payment-next" href="#" Next &rarr;
    a.is-hidden.plaid-success-target data-action="wizard#next" id="payment-validated"


javascript:
  var stripe = Stripe("#{ENV.fetch('STRIPE_PUBLIC_KEY')}");
  var elements = stripe.elements();
  var style = {
    base: {
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': { color: '#C2C2C2' }
    }
  };

  var card = elements.create('card', { style: style });
  card.mount('#card-element');

  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  var form = document.getElementById('payment-form');
  var nextbutton = document.getElementById('payment-next');
  var validated = document.getElementById('payment-validated');

  nextbutton.addEventListener('click', function(event) {
    event.preventDefault();

    $.post('/get_setup_intent_client_secret',
      function( data ) {
        var clientSecret = data['client_secret'];
        var paymentMethodData = {
          card: card,
          billing_details: { name: document.getElementById('cardholder_name').value }
        }
        stripe.confirmCardSetup(clientSecret, { payment_method: paymentMethodData }).then(function(result) {
          if (result.error) {
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
            document.querySelector('#payment-form input[type=submit]').disabled = false;
          } else {
            document.getElementById("#{payment_method_field}").value = result.setupIntent.payment_method;
            validated.click();
          }
        });
      }
    );
  });
