// Font resources
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Lora:300,400|Raleway:300,400');

// Initial Variables for Bulma
$family-sans-serif: 'Lato', Helvetica, Arial, sans-serif;
$family-serif: 'Lora', serif;
$family-primary: $family-sans-serif;

$primary: #8600ED;
$primary-invert: white;

$control-radius: 0px;

// Bulma
@import "bulma";

.container {
  &.is-desktop {
    @media screen and (min-width: $desktop) {
      max-width: $desktop + (2 * $gap);
    }
  }
}

html.minimal {
  background: #fafafa;
}

// Overrides
body {
  font-weight: $weight-light;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: $family-serif;
  font-weight: 400;
}

.subtitle {
  font-family: 'Raleway', $family-sans-serif;
  font-weight: 300;
}

.tabs.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding-top: 1px;
}

.buttons input:checked + label {
  @extend .is-info;
}
.buttons input:not(:checked) + label {
  @extend .is-outlined;
}

@import "bulma_divider";
