// Font resources
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Lora:300,400");

// Initial Variables for Bulma
$family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
$family-serif: "Lora", serif;
$family-primary: $family-sans-serif;

$primary: #8600ed;
$link: #8600ed;
$primary-invert: white;

$control-radius: 0px;
$footer-background-color: none;

$bulma-text-color: #363636;
$weight-light: 300;

// Bulma
@import "bulma";

button {
  font-weight: 300;
}
html {
  height: 100vh;
}

.box.is-fullheight {
  height: 100%;
}

body.minimal {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
  .container {
    max-width: $tablet;
    margin: 0 auto;
  }
}

.hero-head a.title {
  color: $primary;
}

section {
  &.embossed {
    background: whitesmoke;
    border-top: 1px solid #eee;
  }

  &.campaign {
    padding: 0;
  }

  &.is-medium {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &.is-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.table.has-cells-centered {
  th,
  td {
    vertical-align: middle;
  }
}

.box.campaign {
  box-shadow: none;
  margin-left: 42px;

  & .content h2 {
    color: #7929e4 !important;
  }
}

// Overrides
body {
  font-weight: $weight-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $family-serif;
  font-weight: 400;
}

.subtitle {
  font-family: $family-sans-serif;
  font-weight: 300;
}

.is-sticky.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fafafa;
}

.column.is-4.search-result {
  margin: 10px 0;
  width: 32%;
}

.column.no-padding {
  padding-right: 2px;
  padding-left: 0px;

  &.image {
    margin-top: -96px;
  }

  &.donation-box {
    margin-right: 12px;
    height: 90vh;
    min-height: 772px;

    & #payment-form.form {
      height: 80vh;
    }
  }

  & p.has-text-centered.help.footer {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    padding: 1rem;
    margin-top: 0;
  }
}

.column.partner-box {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  margin: 28px;
  height: 264px;
  margin-top: 120px;

  & h1 {
    & img {
      width: unset;
    }
  } 
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons input:checked + label {
  @extend .is-primary;
}
.buttons input:not(:checked) + label {
  @extend .is-outlined;
}

select.greyColor.noValue,
select.greyColor option:first-child {
  color: #d6d6d6;
}

select.greyColor option:not(:first-child) {
  color: black;
}

.display-when-errors {
  display: none;
}

.field-with-errors .display-when-errors,
.field-with-errors + .display-when-errors {
  display: block;
}

.display-when-validation-errors {
  display: none;
}

.field-with-validation-errors .display-when-validation-errors,
.field-with-validation-errors + .display-when-validation-errors {
  display: block;
}

.new-line {
  white-space: pre-wrap;
}

[draggable] .icon {
  cursor: move;
}

.is-dragging {
  color: $primary;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.is-light-yellow {
  background-color: #fcf8e5;
}

.is-light-blue {
  background-color: #ebfaff;
}

.notification-title {
  font-size: 17px;
}

.align-items {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

.plaid-text {
  font-size: 13px;
}

.checkmark svg {
  color: #0db4a0;
}

.credit-card-link {
  color: #0c929f !important;
  text-decoration: none !important;
}

.cursor-auto {
  cursor: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}
