@font-face {
  src: font-url('FormaDJRMicro-Medium.woff2') format("woff2");
  font-family: 'FormaDJRMicro';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRText-Medium.woff2') format("woff2");
  font-family: 'FormaDJRText';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRDeck-Medium.woff2') format("woff2");
  font-family: 'FormaDJRDeck';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRDisplay-Medium.woff2') format("woff2");
  font-family: 'FormaDJRDisplay';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRBanner-Medium.woff2') format("woff2");
  font-family: 'FormaDJRBanner';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRMicro-MediumItalic.woff2') format("woff2");
  font-family: 'FormaDJRMicro';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRText-MediumItalic.woff2') format("woff2");
  font-family: 'FormaDJRText';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRDeck-MediumItalic.woff2') format("woff2");
  font-family: 'FormaDJRDeck';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRDisplay-MediumItalic.woff2') format("woff2");
  font-family: 'FormaDJRDisplay';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: font-url('FormaDJRBanner-MediumItalic.woff2') format("woff2");
  font-family: 'FormaDJRBanner';
  font-style: italic;
  font-weight: 500;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Mediu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-RomanItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Roman.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-XXThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-XThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-XXThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-XThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: font-url('NeueHaasDisplay-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

