.hero.has-background {
  position: relative;

  .hero-body h1.title, .hero-body h2.subtitle {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
  }

  .hero-foot a {
    background: rgba(255,255,255,0.8);
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  .navbar-burger {
    border: none;
  }
}

.hero.has-gradient-background {
  .title { color: white; }

  .navbar-menu {
    padding: 1rem;
  }

  .navbar-menu .navbar-end .navbar-item {
    transition: color 0.2s ease-in-out,background 0.2s ease-in-out;
    border-radius: 3px;
    color:inherit;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .hero-foot a {
    background: rgba(255,255,255,0.8);
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  .has-shadow {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .hero-body h2.subtitle {
    background: rgba(255,255,255,0.1);
    padding: 1rem;
    border-radius: 1rem;
  }

  &:before {
    position: absolute;
    transform: skewY(-5deg);
    bottom: 7vw;
    right: 0;
    width: 100%;
    height: 150%;
    content: '';
    background: linear-gradient(to right, #377fea 20%, #653dea) #377fea;
  }
}


.hero-background {
  figure {
    backface-visibility: hidden;
    background-size: cover;
    background-position: center right;
    color: transparent;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 0;
    position: absolute;
  }
}

.has-background-animated {
  figure {
    animation: imageAnimation 40s linear infinite 0s;
    opacity: 0;
  }

  figure:nth-child(1) { animation-delay: 0s; }
  figure:nth-child(2) { animation-delay: 5s; }
  figure:nth-child(3) { animation-delay: 10s; }
  figure:nth-child(4) { animation-delay: 15s; }
  figure:nth-child(5) { animation-delay: 20s; }
  figure:nth-child(6) { animation-delay: 25s; }
  figure:nth-child(7) { animation-delay: 30s; }
  figure:nth-child(8) { animation-delay: 35s; }
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    4% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    14% {
      opacity: 1
    }
    20% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
}
