.wizard-card {
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 22rem;
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;

  .wizard-card-header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
  }

  .wizard-card-title {
    margin: 0 0 0 0.5rem;
    font-size: 1.5rem;
  }

  .wizard-card-sub-title {
    margin-left: 25px;
    font-size: 1.5rem;
  }

  .wizard-card-nav {
    margin-left: auto;
    font-size: 0.5rem;
    .icon {
      width: 16px;
    }
    .is-active {
      color: #363636;
    }
  }

  .wizard-card-content {
    padding: 1.5rem;
    overflow-y: auto;
  }

  .wizard-card-footer {
    margin-top: auto;
    padding: 1.5rem;
  }

  .card-content.portfolio-box {
    height: 180px;
    border-radius: 8px;
    padding: 16px;
  }

  .span.icon.radio-button {
    position: absolute;
    right: 20px;
  }

  .level-left {
    margin-left: unset !important;
  }

  a.portfolio-title {
    color: #1b1b1b;
  }

  .help.charities {
    position: absolute;
    bottom: 16px;
  }

  .level.about {
    margin-bottom: unset; 
    margin-bottom: 4px;
  }

  .field-title {
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  a.icon {
    &.left-arrow {
      display: unset;
      font-family: Lora;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      color: #515050 !important;
    }

    &.right-arrow {
      display: unset;
      float: right;
      width: auto;
      font-family: Lora;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;

      color: #7929E4 !important;
    }
  }
}

.form {
  height: 100vh;
}
