html
  head
    css:
      @import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,500,700,900');

      body {
        font-size: 16px;
      }

      *, p {
        font-family: "Work Sans", "Helvetica Neau", Helvetica, sans-serif;
        color: #436277;
        font-weight: 200;
      }

      a, a > * {
        color: #009DFF !important;
        text-decoration: none;
        font-weight: 400;
      }

      b {
        font-weight: 600;
      }

      h1 {
        font-weight: 100;
        font-size: 2em;
        margin-bottom: 0;
        color: #8600ED;
      }

      .header {
        text-align: center;
        color: #fff;
        padding: 30px 0;
      }

      .header * {
        color: #fff;
      }

      table {
        padding: 0 0 10px;
        margin: 30px 0;
        width: 100%;
      }

      td {
        padding: .75em 0;
        border-bottom: 1px solid #E1EDF5;
      }

      .no-border td {
        border-bottom: 0;
      }

      .top-border td {
        border-top: 2px solid #E1EDF5;
        border-bottom: 0;
      }

      .total-donation {
        text-align: center;
        font-size: 4em;
        line-height: 1em;
        color: #8600ED;
        margin: 30px;
      }

      .total-donation .label {
        display: none;
      }

      .credit-card td {
        height: 1.5em;
        font-size: .7rem;
      }

      .fine-print {
        font-size: .7rem;
      }

  body bgcolor="f9fafa" style="border: 0; margin: 0; padding: 0; min-width: 100%;" override="fix"
    div width="100%"
      div class='header' width="100%" style='text-align: center'
        div style='width:100%; max-width: 90%; margin: 0 auto; text-align: center;'
          - if @partner.present? && @partner.email_banner.attached? && @partner.email_banner.variable?
            div alt="Donational" width="100%" style="border: 0; margin: 0; padding: 0;"
              = image_tag @partner.email_banner.variant(resize: '1196x305')
          - else
            img src=image_url('receipt-header.png') alt="Donational" width="100%" style="border: 0; margin: 0; padding: 0;"
      div style='width:500px; max-width: 90%; margin: 0 auto;'
        = yield
